<div class="container-fluid">
  <main>
    <img [src]=logo class="img-fluid" alt="" />
    <h1>Grow Your Business with Us</h1>
    <p>Sign up now to join our platform and reach more customers. Increase your sales and expand your business with our user-friendly tools and support.</p>
    <div class="button gap-3 gap-md-5">
      <span >
        <button class="join"> <a href="sign-in">Join Us</a> </button>
      </span>
      <button class="learn_more">Learn More</button>
    </div>
  </main>
</div>

