/* You can add global styles to this file, and also import other style files */
:root {
  --fs-150: clamp(0.825rem, calc(0.81rem + 0.03vw), 0.86rem);
  --fs-200: clamp(0.85rem, calc(0.83rem + 0.04vw), 0.89rem);
  --fs-250: clamp(0.89rem, calc(0.87rem + 0.06vw), 0.93rem);
  --fs-300: clamp(0.94rem, calc(0.92rem + 0.08vw), 0.98rem);
  --fs-350: clamp(1.04rem, calc(0.99rem + 0.2vw), 1.14rem);
  --fs-400: clamp(1.13rem, calc(1.06rem + 0.33vw), 1.31rem);
  --fs-450: clamp(1.24rem, calc(1.13rem + 0.51vw), 1.53rem);
  --fs-500: clamp(1.35rem, calc(1.21rem + 0.69vw), 1.75rem);
  --fs-600: clamp(1.62rem, calc(1.37rem + 1.24vw), 2.33rem);
  --fs-700: clamp(1.94rem, calc(1.54rem + 2.03vw), 3.11rem);
  --fs-800: clamp(2.33rem, calc(1.7rem + 3.15vw), 4.14rem);
  --fs-900: clamp(2.8rem, calc(1.85rem + 4.74vw), 5.52rem);
  --main-color: #9a3567;
}

*{
  margin: 0;
  padding: 0;
}
