.container{
padding: 150px;
}
.span{
  color: crimson;
}
.logo_img {
  position: absolute;
  top: 20px;
  left: 20px;
  width: 200px;
}
.button{
  background-color: #9a3567;
  color: white;
  font-weight: bold;
}
.atag{
  color: #9a3567;
  text-decoration: none;
}
input[type=number] {
  -moz-appearance: textfield;
}
input[type=number]::-webkit-outer-spin-button,
input[type=number]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
@media (max-width: 768px) {
  .container{
    padding: 50px;
    }
.row{
  margin-top: 50px;
}
}
.verify{
  position: relative;
}
.verify button{
  display: flex;
  justify-content: center;
  align-items: center;
  position:absolute;
  right: 0;
  top: 0;
  bottom: 0;
  width:50px;
background-color: #9a3567;
}
.error{
  height: 20px;
  font-size: 12px;
}
